.navbarSearch {
  margin-right: 10px;
}

.showcaseItemContainer {
  padding: 10px 0;
  box-sizing: border-box;
}

.showcaseItem {
  margin-bottom: 15px;
}

.appIcon {
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.appInfoContainer {
  text-overflow: ellipsis;
  overflow: hidden;
}

.appName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
}

.appShortDesc {
  height: 5em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.appStoreLink {
  padding: 0;
}

.flutterAppLink, .flutterAppLink:hover {
  color: initial;
  text-decoration: none;
}

.appScreenshot {
  max-height: 435px;
  object-fit: cover;
  object-position: top;
  width: 100%;
}